<textarea name="profile[description]" id="description-box"></textarea>
<div data-role="footer" data-position="fixed" data-tap-toggle="false"> 
      <h1><input type="submit" value="Finish Profile"></h1>
</div> 
    
