  <h2>
    <label for="profile[name]">
      What's your name?
    </label>
  </h2>

  <input type="text" name="profile[name]">

  <h2>
    <label for="profile[tagline]">
      Add a Tagline!
    </label>
  </h2>

  <input type="text" name="profile[tagline]" value="JS extraordinare & zen-rubyist">
  

  <div data-role="footer" data-position="fixed" data-tap-toggle="false">    
      <h1><a href="#skills" data-role="button">Now add some skills</a></h1>
</div>