	<h2>
		<label for="profile[name]">
			What's your name?
		</label>
	</h2>

	<input type="text" name="profile[name]">

	<h2>
		<label for="profile[tagline]">
			Add a Tagline!
		</label>
	</h2>

	<input type="text" name="profile[tagline] value="example: JS extraordinare & zen-rubyist">
