<ul data-role="listview" >
  <% @jobs.each do |job| %>
    <li data-icon="gear"><a href="<%= job_url(job) %>"><%= job.team_name %></a> <a href="<%= edit_job_url(job) %>"></a></li>
  <% end %>
</ul>
<a href="<%= new_job_url %>" data-transition="slideup" data-role="button">Add Listing</a>