
<body>
<div class='home'>
<h1 style="font-family:Arimo;">Mrkt</h1>
<a data-role="button" href="<%= new_user_registration_url %>" id="find-a-job">I'm a Job Seeker</a>
<br>
<a data-role="button" href="<%= new_employer_registration_url %>" id="edit-profile">I'm Hiring</a>

</div>
<div class="signup">
</div>
</body>
<script>
$('#employer').click( function(){
  event.preventDefault()
  $('.signup').load("<%= new_employer_registration_url%>").hide();
  $('.home').fadeOut(250, function(){
    $('.signup').fadeIn(500);
  });
});

$('#seeker').click( function(event){
  event.preventDefault()
  $('.signup').load("<%=  new_user_registration_url%>").hide();
$('.home').fadeOut(250, function(){
    $('.signup').fadeIn(500);
  });
});

</script>

  