<body>
<div class='home'>
<h1 style="font-family:Arimo;">Mrkt</h1>
<button id="seeker">I am a Job Seeker</button>
<br>
<button id="employer"> I'm Hiring</button>
</div>
<div class="signup">
</div>
</body>
<script>
$('#employer').click( function(){
  event.preventDefault()
  $('.signup').load("<%= new_employer_registration_url%>").hide();
  $('.home').fadeOut(250, function(){
    $('.signup').fadeIn(500);
  });
});

$('#seeker').click( function(event){
  event.preventDefault()
  $('.signup').load("<%=  new_user_registration_url%>").hide();
  $('.home').fadeOut(250, function(){
    $('.signup').fadeIn(500);
  });
});

</script>

