  <h2><label for="job[team_name]">Which team are you Hiring for?</label></h2>
  <input type="text" name="job[team_name]">
  <h2><label for"job[description]">Nobody wants to work for a lame team, why is your's awesome?</label></h2>
  <textarea name="job[description]"></textarea>